---
prometheus:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - prometheus.cloudydev.net
    tls:
      - secretName: letsencrypt-staging
        hosts:
        - prometheus.cloudydev.net
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    resources:
      requests:
        memory: 700Mi
        cpu: 100m
      #limits:
      #  memory: 1000Mi
      #  cpu: 750m
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
    retention: 7d
    logLevel: debug
    additionalScrapeConfigsSecret:
      enabled: true
      name: additional-scrape-configs
      key: prometheus-additional.yaml
  prometheusOperator:
    namespaces:
      releaseNamespace: true
      additional:
        - kube-system
    admissionWebhooks:
      certManager:
        enabled: true
      patch:
        enabled: false
alertmanager:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - alertmanager.cloudydev.net
    tls:
      - secretName: letsencrypt-staging
        hosts:
        - alertmanager.cloudydev.net
grafana:
  adminPassword: ChnageMe!
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.cloudydev.net
    tls:
      - secretName: letsencrypt-staging
        hosts:
        - grafana.cloudydev.net
scrape_configs:
- job_name: ingress
  honor_timestamps: true
  scrape_interval: 1m
  scrape_timeout: 1m
  metrics_path: /metrics
  scheme: http
