---
# installs whole kube-prometheus-stack which includes grafana and alert manager
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-helm-chart
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 45.5.0
    chart: kube-prometheus-stack
    helm:
      skipCrds: true
      values: |
        prometheus:
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: "letsencrypt-prod"
              nginx.ingress.kubernetes.io/auth-signin: "https://vouch.cloudydev.net/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err"
              nginx.ingress.kubernetes.io/auth-url: https://vouch.cloudydev.net/validate
              nginx.ingress.kubernetes.io/auth-response-headers: X-Vouch-User
              nginx.ingress.kubernetes.io/auth-snippet: |
                auth_request_set $auth_resp_jwt $upstream_http_x_vouch_jwt;
                auth_request_set $auth_resp_err $upstream_http_x_vouch_err;
                auth_request_set $auth_resp_failcount $upstream_http_x_vouch_failcount;            
            hosts:
              - prometheus.cloudydev.net
            tls:
              - secretName: prometheus-tls
                hosts:
                - prometheus.cloudydev.net
          prometheusSpec:
            serviceMonitorSelectorNilUsesHelmValues: false
            resources:
              requests:
                memory: 700Mi
                cpu: 100m
              #limits:
              #  memory: 1000Mi
              #  cpu: 750m
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 10Gi
            retention: 7d
            logLevel: debug
            additionalScrapeConfigsSecret:
              enabled: true
              name: additional-scrape-configs
              key: prometheus-additional.yaml
          prometheusOperator:
            namespaces:
              releaseNamespace: true
              additional:
                - kube-system
            admissionWebhooks:
              certManager:
                enabled: true
              patch:
                enabled: false
        alertmanager:
          enabled: true
          annotations: {}
          ingress:
            enabled: true
            annotations:
              cert-manager.io/cluster-issuer: "letsencrypt-prod"
              nginx.ingress.kubernetes.io/auth-signin: "https://vouch.cloudydev.net/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err"
              nginx.ingress.kubernetes.io/auth-url: https://vouch.cloudydev.net/validate
              nginx.ingress.kubernetes.io/auth-response-headers: X-Vouch-User
              nginx.ingress.kubernetes.io/auth-snippet: |
                auth_request_set $auth_resp_jwt $upstream_http_x_vouch_jwt;
                auth_request_set $auth_resp_err $upstream_http_x_vouch_err;
                auth_request_set $auth_resp_failcount $upstream_http_x_vouch_failcount;
            ingressClassName: nginx
            hosts:
              - alert.cloudydev.net
            paths: 
              - /
            tls:
              - secretName: alertmanager-tls
                hosts:
                - alert.cloudydev.net
        grafana:
          grafana.ini:
            #auth:
            #  disable_login_form: false
            #  signout_redirect_url: "https://grafana.cloudydev.net/login/signout"
            auth.generic_oauth:
              enabled: true
              name: Keycloak-OAuth
              allow_sign_up: true
              client_id: grafana
              client_secret: OWt4lBiiQO7UDN1BtVXK9mUOkJ5zIGcC
              scopes: openid email profile offline_access roles
              email_attribute_path: email
              login_attribute_path: username
              name_attribute_path: full_name
              auth_url: https://keycloak.cloudydev.net/realms/cloudydev-net/protocol/openid-connect/auth
              token_url: https://keycloak.cloudydev.net/realms/cloudydev-net/protocol/openid-connect/token
              api_url: https://keycloak.cloudydev.net/realms/cloudydev-net/protocol/openid-connect/userinfo
              role_attribute_path: |
                contains(roles[*], 'admin') && 'Admin' || contains(roles[*], 'editor') && 'Editor' || 'Viewer'
            auth.proxy:
              enabled: true
              header_name: X-Vouch-User
              header_property: username
              auto_sign_up: true
            users:
              allow_sign_up: false
              auto_assign_org: true
              auto_assign_org_role: Admin
          admin_user: admin
          admin_password: ChangeMe!
          admin_email: admin@cloudydev.net
          additionalDataSources: []
          ingress:
            enabled: true
            annotations:
              cert-manager.io/cluster-issuer: "letsencrypt-staging"
              #nginx.ingress.kubernetes.io/auth-signin: "https://vouch.cloudydev.net/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err"
              #nginx.ingress.kubernetes.io/auth-url: https://vouch.cloudydev.net/validate
              #nginx.ingress.kubernetes.io/auth-response-headers: X-Vouch-User
              #nginx.ingress.kubernetes.io/auth-snippet: |
              #  auth_request_set $auth_resp_jwt $upstream_http_x_vouch_jwt;
              #  auth_request_set $auth_resp_err $upstream_http_x_vouch_err;
              #  auth_request_set $auth_resp_failcount $upstream_http_x_vouch_failcount;
              #  auth_request_set $user   $upstream_http_x_auth_request_user;
              #  auth_request_set $email  $upstream_http_x_auth_request_email;
              #  proxy_set_header X-User  $user;
              #  proxy_set_header X-Email $email;
            ingressClassName: nginx
            hosts:
              - grafana.cloudydev.net
            tls:
              - secretName: grafana-tls
                hosts:
                - grafana.cloudydev.net
        scrape_configs:
        - job_name: ingress
          honor_timestamps: true
          scrape_interval: 1m
          scrape_timeout: 1m
          metrics_path: /metrics
          scheme: http
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    automated:
      selfHeal: true
      prune: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-crd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  destination:
    name: in-cluster
    namespace: monitoring
  source:
    repoURL: https://github.com/prometheus-community/helm-charts.git
    path: charts/kube-prometheus-stack/crds/
    targetRevision: kube-prometheus-stack-45.5.0
    directory:
      recurse: true
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - Replace=true
    automated:
      selfHeal: true
      prune: true
