---
# installs whole kube-prometheus-stack which includes grafana and alert manager
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-helm-chart
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 45.5.0
    chart: kube-prometheus-stack
    helm:
      skipCrds: true
      values: |
        prometheus:
          ingress:
            annotations:
              nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
              nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
              ingress.kubernetes.io/force-ssl-redirect: "true"
              ingress.kubernetes.io/proxy-body-size: "1024m"
              nginx.ingress.kubernetes.io/proxy-body-size: "1024m"
            enabled: true
            ingressClassName: nginx
            hosts:
              - prometheus.cloudydev.net
            #tls:
            #  - secretName: letsencrypt-staging
            #    hosts:
            #    - prometheus.cloudydev.net
          prometheusSpec:
            serviceMonitorSelectorNilUsesHelmValues: false
            resources:
              requests:
                memory: 700Mi
                cpu: 100m
              #limits:
              #  memory: 1000Mi
              #  cpu: 750m
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 10Gi
            retention: 7d
            logLevel: debug
            additionalScrapeConfigsSecret:
              enabled: true
              name: additional-scrape-configs
              key: prometheus-additional.yaml
          prometheusOperator:
            namespaces:
              releaseNamespace: true
              additional:
                - kube-system
            admissionWebhooks:
              certManager:
                enabled: true
              patch:
                enabled: false
        alertmanager:
          enabled: true
          annotations: {}
          ingress:
            enabled: true
            annotations: {}
            ingressClassName: nginx
            hosts:
              - alert.cloudydev.net
            paths: 
              - /
            tls:
              - secretName: letsencrypt-staging
                hosts:
                - alert.cloudydev.net
        grafana:
          adminPassword: ChangeMe!
          additionalDataSources: []
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - grafana.cloudydev.net
            tls:
              - secretName: letsencrypt-staging
                hosts:
                - grafana.cloudydev.net
        scrape_configs:
        - job_name: ingress
          honor_timestamps: true
          scrape_interval: 1m
          scrape_timeout: 1m
          metrics_path: /metrics
          scheme: http
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    automated:
      selfHeal: true
      prune: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-crd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  destination:
    name: in-cluster
    namespace: monitoring
  source:
    repoURL: https://github.com/prometheus-community/helm-charts.git
    path: charts/kube-prometheus-stack/crds/
    targetRevision: kube-prometheus-stack-45.5.0
    directory:
      recurse: true
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - Replace=true
    automated:
      selfHeal: true
      prune: true
